 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    max-width: auto;
} 
/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */
.header{
    height: 52px;
    width: 100%;
    background-color:brown;
    border-radius: 3px;
    /* margin: 5px 0px; */
    margin-bottom:30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 1px;
}
.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart{
    display: flex;
    background-color:brown;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
    border-radius: 3px;
    width: 80px;
    color:black
}
.fa-solid{
    
    color: black;
}
.cart p{
   height:1px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: orange;
    color: white;
}
.container{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
#root{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

   


    
}
/* .sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
} */
.head{
    background-color: orange;
    border-radius: 3px;
    height: 15px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
    align-items:center ;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5px;
}
.img-box{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
h2{
    font-size: 20px;
    color: red;
}
button{
    width: 100%;
    position: relative;
    border: none;
    outline:none;
    border-radius: 5px;
    background-color:black;
    padding: 7px 25px;
    cursor: pointer;
    color:white;
    font-size: 20px;
    text-transform: capitalize;

}
button:hover{
    background-color: #333;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}

#popupContainerside{
    display: none;
    position: fixed;
    width: 35%;
    min-height:30%;
    background-color:orange;
    top: 45%;
    left:50%;
    transform: translate(-50%,-50%);
}


/* Buy Button information */

/* button {
    padding: 10px 20px;
    font-size: 16px;
} */



.buy-button{
    border:1px solid transparent;
    border-radius: 4px;
    width:80px;
    background-color:white;
    color:black;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
    padding: 10px;
}

.paymentPopup {
    display: block;
    position: fixed;
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    top: 40%;
    left:50%;
    transform: translate(-50%,-30%);
    border-radius: 5px;
}

.popup-content {
    background-color: orange;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

input[type="text"], select {
    width: 100%;
    padding: 9px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    outline:none;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 12px;
    height: 16px;
    margin-top: 4pxpx;
}

/* .footer{
    visibility: hidden;
} */


/*  payment confirmation popup css */


.confirmation-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    position: relative;
}

.confirmation-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}









/* .footer {
    background-color: orange;
    color: black;
    padding: 20px 0;
}


.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    text-align: left;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

.footer-section p {
    margin: 5px 0;
    font-weight: bold;
    font-family: sans-serif;
}

.footer-icon {
    display: inline-block;
    margin-right: 10px;
}

.footer-icon img {
    width: 40px;
    height: 40px;
} */

table,tr,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
body{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.address{
    margin-left: 40px;

}